 Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. 

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

 Provide sufficient contrast against white background 
a {
  color: #0366d6;
}



 Sticky footer styles
-------------------------------------------------- 
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.rating {
   
    display: flex;
    flex-direction: row-reverse;
    justify-content: left
}

    .rating > input {
        display: none
    }

    .rating > label {
        position: relative;
        width: 1em;
        font-size: 4.1vw;
        
        color: #FFD600;
        cursor: pointer
    }

        .rating > label::before {
            content: "\2605";
            position: absolute;
            opacity: 0
        }

        .rating > label:hover:before,
        .rating > label:hover ~ label:before {
            opacity: 0.9 !important
                
        }

    .rating > input:checked ~ label:before {
        opacity: 1
    }

    .rating:hover > input:checked ~ label:before {
        opacity: 0.4
    }
.invalidRate {
color:red;
}

body {
    background: white;
    color: #222225
}

h1,
p {
    text-align: center
}

h1 {
    margin-top: 150px
}

p {
    font-size: 1.2rem
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 14px
    }

    p {
        font-size: 12px
    }
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

 Sticky footer styles
-------------------------------------------------- 
html {
  position: relative;
  min-height: 100%;
}

body {
   Margin bottom by footer height 
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;  Vertically center the text there 
}
.border {
border:none;
}
.sfeedlbl {
padding-top:50px;

}
